.creation-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.creation-form .title {
    /* background-color: blue; */
}
.creation-form .title h1 {
    font-size: 2rem;
    color: var(--yellow-0);
    font-weight: 700;
}

.creation-form .title h2 {
    font-size: 1.25rem;
    color: var(--grey-1);
    font-weight: 400;
}

.creation-form .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    /* background-color: green; */
}

.creation-form .buttons {
    display: flex;
    justify-content: space-around;
    /* background-color: purple; */
}
