.creation-form {
    background-color: var(--black-2);
    display: block;
    /* flex-direction: column; */
    justify-content: center;
    width: 92vw;
    height: 64vh;
    margin: 32px;
    border-radius: 16px;
}

.creation-form h1 {
    font-size: 2rem;
    color: var(--yellow-0);
}