.dropdown-field {
    display: block;
}
.dropdown-field select {
    background-color: var(--field-color-background);
    border: var(--field-border);
    border-radius: var(--field-border-radius);
}

.dropdown-field label {
    display: block;
}

.dropdown-field select.rare {
    font-size: 40px;
    color: #00F;
}