.name-field {
    display: block;
    width: 100%;
    text-align: center;
}
.name-field input {
    background-color: var(--black-2);
    border: var(--field-border);
    border-radius: var(--field-border-radius);
    width: 50%;
    height: 75%;
}

.name-field label {
    margin-bottom: 16px;
    display: block;
    font-size: 2em;
}