.name-field {
    display: block;
}
.name-field input {
    background-color: var(--black-2);
    border: var(--field-border);
    border-radius: var(--field-border-radius);
}

.name-field label {
    display: block;
}