@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
  --color-background: #101010;

  /* Text */
  --standard-font: 'Open Sans', sans-serif; 
  --color-text1: #ffffff;
  --color-text2: #bbbbb1;
  --color-main-title: #f7b204;

  /*Form Field*/
  --field-border-radius: 4px;
  --field-border: 1px solid #777777;
  --field-color-background: #777777;
  --field-color-hover: #101010;
  --field-color-placeholder: #777777;


  /* Submit Button */
  --color-submit-button: #a71a19;
  --color-submit-button-hover: #a719198d;
  --color-submit-button-text: #f7b204;
  --color-submit-button-text-hover: #f7b204;
  --color-field-hover: #262525;
  --color-span-error: red;
}

body {
  margin: 0;
  font-family: var(--standard-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
