:root {
/*Color Palete*/

    /* Black */
    --black-0: #000000;
    --black-1: #101010;
    --black-2: #181818;

    /* White */
    --white-0: #ffffff;

    /* Grey */
    --grey-0: #777777;
    --grey-1: #bbbbb1;

    /* Red */
    --red-0: #a71a19;
    --red-0-hover: #7C1313;

    /* Yellow */
    --yellow-0: #F7B204;

/* Font*/

--standard-font: 'Open Sans', sans-serif; 

/* Border */
    --field-border-radius: 4px;
    --field-border: 1px solid var(--grey-0);









  }

